.DS_Store
*.tar
shopping_base_image/shopping_extracted/magento2/pub/media
shopping_base_image/shopping_extracted/magento2/dev
shopping_base_image/shopping_extracted/magento2/vendor
shopping_base_image/shopping_extracted/mysql_data
shopping_base_image/shopping_extracted/magento2/var
node_modules

test-results

backup_cache

shopping_docker_rebuild/mysql-baked/magento_dump.sql
shopping_docker_rebuild/mysql-baked/magento_dump.sql.xz

shopping_extracted_*